.skill-info {
    margin-bottom: 0.5em;
}

.skill-bar {
    width: 80%; /* Full width */
    height: 1.5em;
    background-color: #ddd; /* Grey background */
    margin: auto;
    margin-bottom: 1em;
    border-radius: 5em;
}

.skill-name {
    width: 20%;
    height: 1.5em;
    text-align: center;
    /* background-color: #ddd; */
    padding-bottom: 0.4em;
}

.skills {
    text-align: right;
    color: white;
    border-radius: 5em;
}